@font-face {
  font-family: 'yeager';
  src: url('/static/fonts/yReg.woff') format('woff');
}
@font-face {
  font-family: 'yeagerBold';
  src: url('/static/fonts/yBold.woff') format('woff');
}
@font-face {
  font-family: 'yeagerLight';
  src: url('/static/fonts/yLight.woff') format('woff');
}
.anim{    
    opacity: 0;
}
.transition-main {
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
html.is-animating .transition-main {
    opacity: 0;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(-25px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeInDownBG {
  from {
      opacity: 0;
      transform: translateY(25px);
  }
  to {
      opacity: 0.1;
      transform: translateY(0px);
  }
}
@keyframes fadeInDown2 {
    from {
        opacity: 0;
        transform: translateY(25px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(25px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(-25px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes testimonialSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-6500px);
  }
} 
  @keyframes fadeScaleY {
    from {
        opacity: 0;
        transform: scaleY(0);
    }
    to {
        opacity: 1;
        transform: scaleY(1);
    }
  }

  @keyframes fadeBoxShadow {
    from {
        box-shadow: 0px 0px 0px rgba(0,0,0,0);
    }
    to {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }
  }
  @keyframes fadeBoxShadow2 {
    from {
        box-shadow: 0px 0px 0px rgba(0,0,0,0);
    }
    to {
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    }
  }
  @keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes fadeUp{
    from{opacity: 0;transform: translateY(100px);}
    to{opacity: 1;transform: translateY(0px);}
}
@keyframes landingTop{
  from{
    transform: scaleX(0);
  }
  to{
    transform: scaleX(1);
  }
}
@keyframes landingOp{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes landingLeft{
  from{
    transform: translateY(200px);
  }
  to{
    transform: translateY(0px);
  }
}
@keyframes wrapO {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
  }
  @keyframes wrapC {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }
  @keyframes hoverLiOut{
    from{
      color: var(--thumbBG);    
    }
    to{
      color: #000;
    }
  }
  @keyframes hoverLiIn{
    from{
      color: #000;
    }
    to{    
      color: var(--thumbBG);    
    }
  }
  @keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-15px,-15px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(15px,15px);
    }
  }
  