@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

a {
  text-decoration: none;
}

.login-form, .profile{
    width: 90%;
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    padding: 40px;
    border-radius: 50px;
    border: 1px solid grey;
    background-color: #fafafa;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.1);
}
.profile {
    width: fit-content;
    margin-top: 50px;
}
.profile img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    border: 5px solid #fff;
    box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.1);
    position: absolute;
    left: 50%;
    transform: translate(-50%, -75%);
}
.form-header h1, .profile-header h1{
    font-family: 'yeagerBold' !important;
    font-size: 3rem;
    color: #000;
    text-align: left;
    margin-bottom: 20px;
}
.profile-header h1 {
    margin-top: 50px;
    font-family: 'yeagerLight' !important;    
    font-size: 4rem;
}
.form-header p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #000;
    text-align: left;
    margin-bottom: 50px;
}
.profile-details {
    color: grey;
    margin-bottom: 20px;
}
.form-l .input-field{
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    margin-bottom: 10px;
    width: 100%;
    border-radius: 20px;
    border: 1px solid grey;
    transition: all 0.3s ease-in-out;
}
.form-l .input-field:focus{
    outline: none;
    border: 1px solid purple;
}
.form-l .input-field:hover {
    border: 1px solid purple;
}
.form-l p a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.8rem;
    color: #000;
    margin-bottom: 20px;
    text-align: left;
    transition: all 0.3s ease-in-out;
}
.form-l p a:hover {
    color: purple;
}
.form-l button {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    min-width: 40%;    
    border-radius: 20px;
    border: 1px solid grey;    
    color: grey;
    display: block;
    margin-right: 0;
    margin-left: auto;
    background: #fff;
    transition: all 0.3s ease-in-out;
}
.form-l button:hover {
    background: purple;
    border: 1px solid transparent;
    color: #fff;
}
.form-l .terms-privacy {
    display: flex;    
    align-items: center;
    margin-bottom: 20px;
    height: 30px;
}
.form-l .terms-privacy label {
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
    color: #000;
    margin-left: 10px;
    text-align: left;        
    transition: all 0.3s ease-in-out;
}
.form-l .terms-privacy input {    
    width: 20px;
    height: 20px;
}
.mb-0 {
    margin-bottom: 0px;
}
.profile .profile-details .interactions {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 30px;
}
.profile .profile-details .interactions span {
    color: #000;
}
.profile .profile-details .bio {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: left;
    margin-bottom: 50px;
}
.profile button {
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    min-width: 100%;    
    border-radius: 20px;
    border: 1px solid grey;    
    color: grey;
    display: block;
    margin: 0 auto;
    background: #fff;
    transition: all 0.3s ease-in-out;
}
.profile button:hover {
    background: purple;
    border: 1px solid transparent;
    color: #fff;
}